<h1>List of all users</h1>
<form>
  Search for a user:<br>
  <input type="text" name="screenname">
  <input type = "submit" value="Search">
</form>
{% if latest_user_list %}
    <div class="user_list">
    <ul>
    {% for user in latest_user_list %}
        <div class="user_row">    
        <li><a href="/{{ user.screenname }}/">{{ user.screenname }}</a></li>
        </div>
    {% endfor %}
    </ul>
    </div>
{% else %}
    <div class="user_list">
    <p>No users are available.</p>
    </div>
{% endif %}