{% include "./navigation.html" %}
{% if latest_user_list %}
    {% if isall == 'true' %}
    <h1>List of all users</h1>
    <div class="user_list">
    {% else %}
    <h1>List users</h1>
    <div class="user_search">
    {% endif %}
    <ul>
    {% for user in latest_user_list %}
        <div class="list-group">    
        <li><a href="{%url 'user' user.screenname %}" class="list-group-item list-group-item-action">{{ user.screenname }}</a></li>
        </div>
    {% endfor %}
    </ul>
    </div>
{% else %}
    <div class="user_list">
    <p>No such user found</p>
    </div>
{% endif %}
</div>
{% include "./pagination.html"%}
</body>
</html>