<!DOCTYPE html>
<html>
<head>
{% load static %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/navbar.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
</head>
<body>
<div id="topheader">
<nav class="navbar navbar-expand-lg navbar-light border border-dark rounded" style = "background-color: #ef8191;">
    <a class="navbar-brand">Mini Facebook</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if nbar == 'start' %}active{% endif %}"><a href="/" class="nav-link">Start Page</a></li>
          <li class="nav-item {% if nbar == 'details' %}active{% endif %}"><a class="nav-link" href="/details">Group info</a></li>
          <li class="nav-item {% if nbar == 'queries' %}active{% endif %}"><a class="nav-link" href="/queries">Queries</a></li>
    </ul>
    <form action"/" class = "form-inline my-2 my-lg-0" method="GET">
     {% csrf_token %}
     {{form}}
     <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" class="btn btn-primary" value="submit">
    </form>
    </div>
</nav>
</div>

<script>
$( '#topheader .navbar-nav a' ).on( 'click', function () {
	$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>
<div id="content">