
{% include "./navigation.html" %}
<div class="information">
<h2>{{user.screenname}}</h2>
{% if user.location%}
  <a>Location: {{user.location}}</a>
  <br>
{% endif %}
<a> ID: {{user.user_id}}</a>
<br>
<a> lastdate: {{age}}</a>
<br>
<a> income: {{income}}</a>
<br><br>
{% if user.hobby1 %}
  <a> Hobby 1: {{user.hobby1}}</a>
{% endif %}
<br>
{% if user.hobby2 %}
  <a> Hobby 2: {{user.hobby2}}</a>
{% endif %}
{% if dates %}
  <div class="datelist">
  <p>Dates:<p>
  {% for date in dates %}
      <li><a href="{%url 'user' date.screenname %}">{{ date.screenname}}</a></li>
  {% endfor %}
  </div>
{% endif %}
{% if marriges %}
  <div class="marrigelist">
  <p>Marriges:<p>
  {% for marrige in marriges %}
      <li><a href="{%url 'user' marrige.screenname %}">{{ marrige.screenname}}</a></li>
  {% endfor %}
  </div>
{% endif %}
</div>
<div class="fanlist">
<p>Fans</p>
{% if followers %}
    <div class="fan_list">
    {% for follower in followers %}
      <li><a href="{%url 'user' follower.screenname %}">{{ follower.screenname}}</a></li>
    </div>
    {% endfor %}
{% else %}
    <div class="fan_list">
    <p>No followers yet.</p>
    </div>
{% endif %}
</div>
<h3>Tweets: </h3>
{% if tweets %}
    <div class="tweet_list">
    <ul>
    {% for tweet in tweets %}
        <div class="user_tweets">    
        <li><a href="{%url 'tweet' user.screenname tweet.tweet_id %}">{{ tweet.tweet }}</a></li>
        </div>
    {% endfor %}
    </ul>
    </div>
{% else %}
    <div class="tweets">
    <p>No tweets are available.</p>
    </div>
{% endif %}
</div>
</body>
</html>