<form  method="GET">
 {% csrf_token %}
 {{form}}
 <input type="submit" value="submit">
</form>
<form action="http://localhost:8000">
    <input type="submit" value="Go back to users" />
</form>
<h2>{{user.screenname}}</h2>
{% if user.location%}
  <p>Location: {{user.location}}</p>
{% endif %}
<p> ID: {{user.user_id}}</p>
{% if tweets %}
    <div class="tweet_list">
    <ul>
    {% for tweet in tweets %}
        <div class="user_tweets">    
        <li><a href="{%url 'tweets' tweet.tweet_id %}">{{ tweet.tweet }}</a></li>
        </div>
    {% endfor %}
    </ul>
    </div>
{% else %}
    <div class="tweets">
    <p>No tweets are available.</p>
    </div>
{% endif %}